__pycache__/
*.pyc

another_html/0295_react_homework_2_props_2/Code2/React/React/
another_html/0300_react_lesson_3_usestate_functional_comp/Lesson 3 useState/
another_html/0310_react_homework_3_todo_list/
another_html/0320_react_homework_3_todo_list_2/
another_html/0330_react_homework_class_todo_list_3/
another_html/0340_react_homework_victor_todo_list_4/
another_html/0350_react_homework_3__todo_list_5/
another_html/0360_react_mayya_example/
