<!-- 
    Там, где территория Vue, можно использовать простые однострочные куски кода JavaScript прямо посреди языка html.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> #11 Vue.js 11/18/19 12/11/19</title>
    <script src="vue.js"></script> <!-- development version, includes helpful console warnings -->
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div id="app">
    <div>
        <h1 v-once>{{ title }}</h1>
        <p>{{ sayHello() }} - <a v-bind:href="link">Google</a></p> <!-- перехват управления href через Vue -->
        <hr>
        <p v-html="finishedLink"></p>
        <hr>
        <p>А имя ему - {{ myName }}.</p> <!-- соединение строk в языке html-->
        <p>Возраст его {{ myAge }} лет.</p>
        <p>Если умножить возраст на 3, получится {{ myAge*3 }} лет.</p>
        <p>{{ randomNumber() }}</p>
        <!-- <img src="http://sovietart.net/gal15/88-7.jpg"></img> -->
        <img v-bind:src = "image" style="width:450px; height: 280px;"></img> <!-- перехват управления src через Vue -->
        <hr>
        <input type="text" v-bind:value="name">
        <button v-on:click="increase(2, $event)">Click me</button> <!-- v-on is a listener -->
        <button v-on:click="counter++">Click me</button>  <!-- сюда вставлен кусок JS-кода -->
        <p>{{ counter }}</p>
        <p>{{ counter > 10 ? 'Больше десяти' : 'Меньше или равно десяти'}}</p> <!-- сюда вставлен кусок JS-кода -->
        <p v-on:mousemove="updateCoordinates">Вот координаты: x = {{ x }}, y = {{ y }}</p>
        <p v-on:mousemove="updateCoordinates">Ещё координаты: 
            x = {{ x }}, y = {{ y }}
            - <span v-on:mousemove="dummy">Участок без обновления</span> <!-- пустая функция, чтобы не менялись координаты мышки -->
            - <span v-on:mousemove.stop="">Участок без обновления</span> <!-- пустая функция и модификатор stop-->
        </p>
        <input type="text" v-on:keyup.enter.space="alertMe"> <!-- key modifiers (can be a lot of different ones!) -->
        <button v-on:click="alertButton($event)">Show Alert!</button>
    </div>
    <div>
        <input type="text" v-on:keydown="keyPressed = $event.target.value"> <!-- выводим строку, которую печатаем в поле ввода. Перехват событий клавиатуры -->
        <p>{{ keyPressed }}</p>
    </div>
    <div>
        <input type="text" v-on:keydown.enter="keyPressed = $event.target.value"> <!-- то же самое, но выводим только когда нажата клавиша Enter -->
        <p>{{ keyPressed }}</p>
    </div>
    <div>
        <hr>
        <h4>2-way data binding with Vue.js </h4>
        <input type="text" v-model="name2">    <!-- v-model связывает переменную в обе стороны -->
        <p>{{ name2 }}</p>
    </div>
    <div>
        <hr>
        <h4>Reactivity to changes with computed properties</h4>
        <button v-on:click="counter2++">Increase</button>
        <!-- "v-on:click" can be replaced with "@click" -->
        <button v-on:click="counter2--">Decrease</button>
        <button v-on:click="counter3++">Increase Counter3</button>
        <button v-on:click="counter3--">Decrease Counter3</button>
        <p>Counters: {{ counter2 }} | {{ counter3 }}</p>
        <p>Smaller/larger: {{ checkIsCounter2Larger() }} | {{ output }}</p> <!-- при вызове computed functions скобки не нужны, properties вызываются как переменные -->
        <em>Press F12 to open console and see how computed object and method are called from this code. Computed will be called only when needed, method will be called each time.</em>
    </div>
    <div>
        <hr>
        <h4>An alternative to computed properties: watch object</h4>
        <em>"watch" object watches counter2 variable (buttons above and calls a function each time counter2 changes. See console.</em>
    </div>
    <div>
        <hr>
        <h4>Shortcuts for "v-on", "v-bind:</h4>
        <p>"v-on:click" can be replaced with "@click". Result will be the same.</p>
        <p>"v-bind:href=..." can be replaced with ":href=..." Result will be the same.
        </p>
    </div>
    <div>
        <hr>
        <h4>Reactivity exersize</h4>
        <button @click="counter4++">+1</button>
        <button @click="counter4+=5">+5</button>
        <p>Counter = {{ counter4 }}, {{ reached37 }}</p>
        <em>When counter reaches 37, it will reset to 0 in 5 seconds</em>
    </div>

    <div>
        <hr>
        <h4>Dynamic styling with CSS classes</h4>
        <p>Click the boxes below :)</p>
        <div 
            class="demo"
            @click="attachRed = !attachRed"
            :class="{'red': attachRed}"
        ></div>
        <div 
            class="demo"
            :style="{backgroundColor: color}"
        ></div>
        <div 
            class="demo"
            @click="attachRed = !attachRed"
            :class="divClasses"
        ></div>
        <div 
        class="demo"
        @click="attachBlue = !attachBlue"
        :style="myStyle"
        ></div>
        <div 
        class="demo"
        @click="attachYellow = !attachYellow"
        :class="{'yellow': attachYellow}"
        ></div>
        <div 
        class="demo"
        :class="[color, {'yellow': attachYellow}]"
        ></div>
        <!-- можно также использовать синтакс 
        :class="color"    -->
        <div 
        class="demo"
        :style="[myStyle, {'height': width + 'px'}]"
        ></div>
    </div>

    <hr>
    <h4>Dynamic styling with CSS classes, using names</h4>
    <input type="text" v-model="color">
    <input type="text" v-model="width">
    <p></p>

    <hr>
    <h4>Exersize for dynamic styling 1</h4>
    <div id="Exersize">
        <div>
            <button @click="startEffect">Start Effect</button>
            <div 
                id="effect"
                v-bind:class="effectClasses"
            ></div>
        </div>
        
        <div>
            <button @click="funcExercise2">Switch CSS class</button>
            <div 
                id="effect" 
                v-bind:class="nickCSSClasses"
            ></div>
            <!-- effect refers to general class,
                 nickCSSClasses refers to the object of sub-classes
            -->
        </div>

    </div> 
    

</div>

<script src="script.js"></script>
</body>
</html>
 