
.mainContent {
    padding-left: 35px;
    padding-right: 35px;
}
.header {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: darkgrey;
}
.footer {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: darkgray;
}